.top-panel {
    padding: 10px 20px;
}

.logo {
    height: 50px;
}

body {
	background-color: #DDDDDD;
}

.ros-status-bar {
    padding: 8px 0;
    transition: background-color 0.3s ease;
    background-color: gray;
}

.status-bar {
	display: none;
    padding: 10px 0;
    transition: background-color 0.3s ease;
    background-color: gray;
}

.square {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
	border: 1px solid;
}

.square img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

